/*
 * File name: layout.css
 *
 * Author: Hassan Ali
 *
 * Description: Style sheet for hassanali.co.uk which contains all the layout formating
 *
 * container
 *   header
 *   main
 *     submenu
 *     content
 *     navigation
 *   footer
 *
 *  Notes: padding is internal to element, margin is external
 *  top right bottom left
 *
 */

@media screen, print {
	/********** Global Layout **************/
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, font, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, tt, var,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-weight: inherit;
		font-style: inherit;
		font-size: 100%;
		font-family: inherit;
		vertical-align: baseline;
	}
	/* remember to define focus styles! */
	:focus {
		outline: 0;
	}
	body {
		line-height: 1;
		color: black;
		background: white;
	}
	ol, ul {
		list-style: none;
	}
	/* tables still need 'cellspacing="0"' in the markup */
	table {
		border-collapse: separate;
		border-spacing: 0;
	}
	caption, th, td {
		text-align: left;
		font-weight: normal;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: "";
	}
	blockquote, q {
		quotes: "" "";
	}
}

@media screen {
	/* Start of body styles
	----------------------------------------------- */
	body{
		background: #CBD8DB url(img/patpat1.png) repeat;	
		font-family: Verdana,Arial,Geneva,Helvetica,sans-serif;
		height: auto;
		width: auto;
		color: #444;
		line-height: 26px;
		font-size: 16px;
	}
	a{
	    color: #868686;
	    cursor: pointer;
	    text-decoration: underline;
	}
	a:hover{
		text-decoration: none;
		cursor: pointer !important;	
	}
	strong{
		font-weight: bold;	
	}
	em{
		font-style: italic;
	}
	img {
		border: none;
	}
	 /* Start of container styles
	----------------------------------------------- */
	#container {
		width: 960px;
		margin: 0 auto;
		padding: 0 0 0 0;
		border: 1px solid transparent;
	}
	
	/* Start of header styles
	----------------------------------------------- */
	#header {

	}
	#header h1 {
		padding: 20px 15px 0 0;
	}
	
	#header h2 {
		padding: 25px 0 25px 10px;
	}
	
	#header h1 a {

	}
	
	#header h2 a {

	}
	/* Start of menu styles
	----------------------------------------------- */	
	#menu{
		background: transparent url(img/menu_bg_white.png) no-repeat left 0;
		width: 783px;
		height: 193px;
		position: absolute;
		margin: 0 0 0 320px;
		padding: 0;
		z-index: 0;
	}
	#menu ul{		
		height: 25px;
		padding: 30px 0 0 300px;
		background: transparent url(img/menu_specle.png) no-repeat -90px top;
		position: relative;
		z-index: 10;
	}
	#menu ul li{
		display: block;
		float: left;
		margin: 0 20px 0 0;	

	}
	#menu ul li a{
		display: block;
		margin-top: 3px;
		padding: 0 5px 0 5px;
		height: 20px;
		text-indent: -999em;
		width: 51px;
	}
	#menu ul li#home a{	background: transparent url(img/menu.png) no-repeat left 0; }
	#menu ul li#home a:hover{ background: transparent url(img/menu.png) no-repeat left -20px;	}
	#menu ul li#home.active a{ background: transparent url(img/menu.png) no-repeat left -20px;	}
	
	#menu ul li#mycv a{	background: transparent url(img/menu.png) no-repeat -75px 0; }
	#menu ul li#mycv a:hover{ background: transparent url(img/menu.png) no-repeat -75px -20px;	}
	#menu ul li#mycv.active a{ background: transparent url(img/menu.png) no-repeat -75px -20px;	}
	
	#menu ul li#contact a{	background: transparent url(img/menu.png) no-repeat -150px 0; }
	#menu ul li#contact a:hover{ background: transparent url(img/menu.png) no-repeat -150px -20px;	}
	#menu ul li#contact.active a{ background: transparent url(img/menu.png) no-repeat -150px -20px;	}
	
	/* Start of main styles
	----------------------------------------------- */
	#main {
		width: 810px;
		margin: 195px auto;
		background: transparent url(img/bgscroll.png) repeat-y left top;
		border-top: 1px solid transparent;
	}
	
	/* Start of content styles
	----------------------------------------------- */
	#content {
		position: relative;
		z-index: 10;
		width: 610px;
		background: transparent url(img/header_top.png) no-repeat left top;
		padding: 100px 100px 50px 100px;
		margin: -145px auto;

		/*overflow: hidden;*/
	}
	#content p, #content ul, #content ol, #content form, #content table{
		padding: 10px 0 0 0;
		/*width: 50%;*/
	}
	#content h2{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 30px;
		line-height: 30px;	
		font-weight: bold;
		padding: 0 0 0 0;
	}
	#content h3{
		font-family:Arial, Helvetica, sans-serif;
		font-size: 20px;
		font-weight: normal;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
	}
	#content h4{
		font-family:Arial, Helvetica, sans-serif;
		font-size: 125%;
		font-weight:normal;
		padding: 10px 0 5px 20px;
	}
	#content ul.bullet{
		padding-left: 30px !important;
		list-style: disc;
		color: #1C4D8B;
	}
	#content ul.social{
		margin: 30px 0 0 0;
	}
	#content ul.social li{
		display: inline;
		margin-right: 16px;
	}
	#content ul.social li a{
		width: 32px;
		height: 32px;
		display: inline-block;
		text-indent: -999em;
	}
	#content ul.social li#facebook a{ background: transparent url(img/facebook.gif) no-repeat center }
	#content ul.social li#linkedin a{ background: transparent url(img/linkedin.gif) no-repeat center }
	#content ul.social li#twitter a{ background: transparent url(img/twitter.gif) no-repeat center }
	
	img#alitoon{
		position: absolute;
		margin: -250px 0 0 300px;
		z-index: -10;
		
	}
	div.intro{
		background: #ec3d62;
		height: 301px;
		margin: 20px 0 20px -110px;
		padding: 15px 0 5px 110px;
		opacity: 0.8;
		color: #fff;
	}
	div.intro img{
		position: absolute;
		margin: -55px 0 0 303px;
	}
	div.intro a{
		color: #fff;
	}
	div.intro ul li{
		width: 50%;		
	}
	
	/* CV Styles */
	#content div.left{
		float: left;
		width: 500px;
	}
	#content div.right{
		float: left;
		width: 301px;
	}
	#content .cvtitle{
		padding: 30px 0 0 148px;
	}
	#content fieldset span, #content fieldset label, #content fieldset div{
		display: inline;
		float: left;
		position: relative;
		margin: 0 10px 0 10px;
	}
	#content fieldset{
		padding: 20px 0 20px 0;
		margin: 0 0 0 0;
	}
	#content .left fieldset{
		background: transparent url(img/divider_left.gif) no-repeat 1px top;
	}
	#content fieldset h4{
		padding: 0;
		font-size: 100%;
		font-weight: bold;
	}
	#content fieldset a.refurl{
		font-size: 0.8em;
		font-style: italic;
	}
	#content fieldset.right{
	}
	#content .left fieldset.details{
	}
	#content .left fieldset span{
		width: 120px;
		text-align: right;
		font-weight: bold;
		font-style: italic;
		font-size: 0.8em;
	}
	#content fieldset p{
		padding: 10px 0 0 0;	
		width: 100%;
	}
	
	#content .left fieldset label, #content .left fieldset div{
		width: 300px;
	}
	#content .right fieldset{
		background: transparent url(img/divider_right.gif) no-repeat right top;
	}
	#content .right span{
		text-align: left;
		font-weight: bold;
		font-style: italic;
		font-size: 0.8em;
		width: 200px;
	}
	#content .left p{
		font-size: 0.9em;
	}
	#content .left ul{
		padding: 0 0 0 0;
		font-size: 0.8em;
		list-style: disc;
		width: 300px;
		margin-left: 20px;
	}
	#content .left ul li{
		margin: 5px 0 5px 0;
	}
	#content .right div{
		padding-left: 10px;
	}
	#content .right h5{
		font-size: 0.9em;
		font-style: italic;
	}
	#content .right div p{
		width: 230px;
		font-size: 0.9em;
		padding: 0 0 10px 10px;
	}
	#content fieldset.download a{
		background: url(img/icon_acrobat.png) no-repeat left center;
		padding: 5px 0 5px 20px;
		text-transform: lowercase;
		margin-left: 10px;
	}
	
	/* form styles */
	#content form{
		width: 700px;
		padding: 0;
		margin: 0 0 0 0;
		border: 1px solid transparent;
	}
	#content form fieldset{
	}
	#content form fieldset div{
		padding-top: 0;
		padding-bottom: 0.5em;
		margin: 0 0 0.5em 0;
	}
	/* Remove double bottom border from nested div's */
	#content form fieldset div div{
		background: none;
		border-bottom:0px;
		padding-top: 10px;
		padding-bottom: 0px; 
	}
	#content form fieldset div.required label{
		font-weight: bold;
		font-size: 0.8em;
	}
	#content form fieldset div label{
		margin-right: 20px;
		width: 100px;
		display: block;
		float: left;
		text-align: right;
	}
	#content form fieldset input.text, #content form fieldset input.password{
		width: 220px;
		height: 23px;
		border: 0;
		padding: 5px 5px 0 5px;
		border: 1px solid #CECECE;
		background-color:#fff;
		/*background: transparent url(//www.beatingtheblues.co.uk/media/img/inputbg.png) repeat-x center 0;*/
	}
	#content form fieldset input.submit{
		margin-left: 130px;
		width: 80px;
		height: 30px;
		border: 1px solid #CECECE;
		background-color: #fff;	
	}
	#content form fieldset div span{
		display: block;
		width: 50%;
		margin-left: 27%;
		text-align: left;
	}
	#content form fieldset legend, #content form p.legend{
		font-weight: bold;
		font-size: 120%;
		padding: 3px 0 3px 0;
		color: #1C4D8B;
	}
	#content form p.error{
		padding-top: 0;
		padding-left: 130px;
		font-size: 0.8em;
	}
	
	
	#content form fieldset div textarea{
		height: 100px;
		width: 400px;
		background-color:#fff;
		border:1px solid #CECECE;
	}
	/* Start of footer styles
	----------------------------------------------- */
	#footer {
		position: relative;
		z-index: 10;
		width: 900px;
		margin: -210px auto;
		min-height: 180px;
		padding: 50px 0 0 60px;
		background: transparent url(img/footer.png) no-repeat -4px top;
	}
	#footer ul li{
		float: left;
		margin-left: 25px;
	}
	#footer ul li#copy{
		width: 160px;
		text-indent: -999em;
		background: transparent url(img/copy.png) no-repeat left center;
	}
	#footer ul li#hello{
		float: right;
		margin-right: 100px;
	}
	#footer ul li#hello a{
		display: block;
		float: right;
		width: 160px;
		text-indent: -999em;
		background: transparent url(img/hello.png) no-repeat left center;
	}
	#footer a{
		color: #fff;
	}
	
	.accessibility{
		position: absolute;
		left: -999px;
		width: 0px;
	}
	
	.hide{
		display: none;
	}
	p.error, p.error a, a.error, span.error, span.error a, .error p, .error p a, .error span, .error span a {
		color: #ff0000;	
	}	
	.warning, .noflash{
		color: #FF740E;	
	}
	
	.scriptShow{
		display: none; /*this is turned off by JavaScript if JavaScript is available*/
	}
	
	
}

@media print {
	#submenu, #print, #printpage, .accessibility,.hide,.navigation,.account,button,.tabs,.Finish,#header h1, #header h2,.calendar,.hidePrint, .squareButtons, form .warning, .multiview, .squaretabs
	{
		display: none;
	}
	.showPrint{
		display: block;
	}
	
	/* Start of body style
	----------------------------------------------- */
	body {
		font-family: sans-serif;
		font-size: medium;
		color: black;
		background-color: white;
	}
	
	/* Start of header styles
	----------------------------------------------- */
	#header h1 a {
		text-decoration: none;
		color: #000;
		/*	font-size: larger; */
		font-weight: bold;
		font-size: 0.6em;
		padding: 0;
		margin: 0;
	}
	
	/* Start of content styles
	----------------------------------------------- */
	#content {
		width: 100%;
		padding: 0;
	}
	
	#content p,#content ul,#content ol,#content form,#content table {
		padding: 0 0 0.4em 0;
	}
	
	#content h3 {
		font-size: 1.8em;
		padding: 0 0 0.2em 0;
	}
	
	.multidata {
		width: 48% !important;
		float: left;
	}
	.multidata.wide{
		width: 96% !important;
	}
	.flash object{
		width: 320px;
		height: 128px;
		
	}
	.multidata table{
		width: 320px;
	}
	.multidata.wide table{
		width: 96%;
	}
	.showPrint img {
		width: 320px !important;
		height: 128px !important;
	}
	
	.newpage{
		page-break-before: always;	
	}
	#content fieldset {
		border: none;
		clear: both;
		margin-bottom: 0.25em;
	}
	
	#content fieldset legend {
		color: black;
		font-size: 1.2em;
		font-weight: bold;
		padding: 0 0 0.2em 0;
	}
	
	#content label {
		font-weight: bold;
	}
	
	#content fieldset div {
		padding: 0 0 0.4em 1em;
	}
	
	#content fieldset p {
		padding: 0 0 0.4em 1em;
	}
	
	#content #problems span {
		float: left;
		position: relative;
	}
	
	#content form table {
		margin: 0 0 0.4em 1em;
	}
	
	#content #problems span.value {
		float: right;
		clear: none;
		position: relative;
	}
	
	#content a {
		text-decoration: none;
	}
	
	#content table {
		border-collapse: collapse;
	}
	
	#content table th {
		text-align: left;
		border: 1px solid black;
	}
	
	#content table td {
		border: 1px solid black;
		padding: 2px 5px 2px 5px;
	}
	
	#content table thead td {
		border: 0px;
		padding: 2px 5px 2px 5px;
		text-align: center;
	}
	p.section {
		display: block;
		width: 100%;
	}
	
	p.section.bottom {
		display: block;
		width: 100%;	
		clear: both;
	}
	
	/* Start of footer styles
	----------------------------------------------- */
	#footer {
		font-size: 0.8em;
		clear: both;
	}
	
	#footer a {
		text-decoration: none;
		color: black;
		background-color: white;
	}
	
	/* Start of genral styles
	----------------------------------------------- */
	.warning {
		color: red;
	}
	
	table.plain th {
		font-weight: normal;
	}
	
	.break {
		page-break-before: always;
		clear: left;
	}
}