@import 'normalize.scss/normalize';
@import 'font-awesome/scss/font-awesome';
@import url(http://fonts.googleapis.com/css?family=Raleway:100,500);

html {
	background: #5cbf94;
}
body {
	// background: #5cbf94 url(http://image.vsco.co/1/51de44b2dc9f826057/51de4673586808ab44000001/800x534/vsco_071113_3.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	font-size: 18px;
}

.hero-unit {
	margin: 50px auto 0 auto;
	width: 566px;
	height: 240px;
	border-radius: 6px;
	text-align: center;
	// background: rgba(0,0,0,0.3);
	padding: 30px 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -283px;

	-webkit-animation: fadein 3s; /* Safari and Chrome */
       -moz-animation: fadein 3s; /* Firefox */
        -ms-animation: fadein 3s; /* Internet Explorer */
            animation: fadein 3s;

	h1 {
		color: #fff;
		font-family: 'Raleway', sans-serif;
		font-size: 6em;
		line-height: 1;
		letter-spacing: -22px;
		text-transform: uppercase;
		font-weight: 100;
		// background: rgba(255,255,255,0.1);
		margin: 0;

		span {
			font-weight: 500;
			letter-spacing: -1px;
			margin-left: 5px;
		}
	}

	ul {
		list-style: none;
		padding: 0;
		li {
			display: inline-block;
			width: 103px;
			margin: 0;
		}
		white-space: nowrap;
		a {
			color: #eee;
			opacity: 0.5;
			font-size: 2.5em;
		}
	}
	a {
		transition: opacity 0.3s ease-in-out;
		&:hover {
			opacity: 1;
		}
	}
	& > a {
		display: block;
		color: #fff;
		opacity: 0.5;
		text-decoration: none;
		font-size: 0.8em;
		padding-top: 20px;

	}

}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}