<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Hassan Ali, Designer-Developer </title>
  <link rel="stylesheet" href="/css/layout.css" />
</head>

<body>
  <div id="container">
        
  <!--Start of header-->
  <div id="header">
  
    
    <hr class="hide" />
  </div>
  <!--End of header--> 

  <!--Start of main--> 
  <div id="main"> 

    <!--Start of content--> 
    <div id="content">
      
      {{ content }}

    <hr class="hide" /> 
    </div> 
    <!--End of content--> 

  </div><!--End of main--> 

  <!--Start of footer-->
  <div id="footer">
    <ul> 
      
      <li id="copy2">&copy;Copyright 2011&nbsp;<a href="http://www.hassanali.co.uk">Hassan Ali</a>. All rights reserved.</li> 
      
      <li id="hello"><a href="mailto:hello@hassanali.co.uk?subject=Hello">hello@hassanali.co.uk</a></li>
    </ul>
  </div>
  <!--End of footer-->
</div>
<!--End of container-->
</body>
</html>